@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header{
    background-color: darkgray;
}

h1{
  
    text-align: center;
    padding: 15px;
}

li{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px;
       
}

article {
    width: 400px;
    text-align: center;
    margin: auto;
}

article > h2 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}
